In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("customer_journey.csv")

In [3]:
df.head()

,user_id,genero,idade,purchase_id,data,tipo_dispositivo,produto
0,579,2.0,58.0,2490,2016-04-25 04:31:40,FIXED,1
1,1744,1.0,50.0,6941,2015-09-15 13:40:10,FIXED,4
2,1754,1.0,55.0,6982,2016-08-21 16:20:03,FIXED,10
3,1846,2.0,32.0,7331,2016-02-22 18:17:52,FIXED,7
4,7300,2.0,39.0,357,2015-08-10 15:42:45,FIXED,1

In [4]:
df = df.drop(columns=["user_id", "purchase_id"])

In [5]:
dispositivo_x_idade = df.groupby("tipo_dispositivo")["idade"]

In [6]:
dispositivo_x_idade.mean()

tipo_dispositivo
FIXED     51.974829
MOBILE    44.892565
Name: idade, dtype: float64

In [7]:
dispositivo_x_idade.median()

tipo_dispositivo
FIXED     52.0
MOBILE    42.0
Name: idade, dtype: float64

In [8]:
dispositivo_x_idade.agg(pd.Series.mode)

tipo_dispositivo
FIXED     58.0
MOBILE    33.0
Name: idade, dtype: float64

Pessoas com 50+ anos tem preferência a utilizar serviços fixos, como caixa e gerente.

In [9]:
def contador(lista):
    resultado = {}
    for i in lista:
        resultado[i] = lista.count(i)
    return resultado


produtos = list(df["produto"])

print(contador(produtos))

{1: 3766, 4: 892, 10: 513, 7: 3238, 2: 299, 15: 25, 16: 236, 13: 547, 14: 142, 5: 249, 8: 37, 9: 14, 6: 4, 3: 36, 12: 2}

Os produtos mais utilizados são 1 e 7 (empréstimos em conta-corrente e crédito pessoal).
Os menos usados são 6 e 12 (conta garantida e operações de factoring).

In [10]:
total_masc = df[df["genero"] == 1.0]["genero"].count()

In [11]:
total_masc

5189

In [12]:
total_fem = df[df["genero"] == 2.0]["genero"].count()

In [13]:
total_fem

4811

In [14]:
total_masc / total_fem

1.0785699438786116

Os homens são 7.8% mais presentes.

In [15]:
df.groupby("genero")["produto"].agg(pd.Series.mode)

genero
1.0    1
2.0    1
Name: produto, dtype: int64

In [16]:
df

      genero  idade                 data tipo_dispositivo  produto
0        2.0   58.0  2016-04-25 04:31:40            FIXED        1
1        1.0   50.0  2015-09-15 13:40:10            FIXED        4
2        1.0   55.0  2016-08-21 16:20:03            FIXED       10
3        2.0   32.0  2016-02-22 18:17:52            FIXED        7
4        2.0   39.0  2015-08-10 15:42:45            FIXED        1
...      ...    ...                  ...              ...      ...
9995     2.0   60.0  2015-12-23 20:32:35           MOBILE        2
9996     1.0   68.0  2016-05-11 12:35:07            FIXED        1
9997     2.0   41.0  2016-01-27 17:45:01            FIXED        1
9998     1.0   67.0  2015-07-25 14:25:53            FIXED        4
9999     2.0   37.0  2015-12-02 08:57:38           MOBILE        5

[10000 rows x 5 columns]

O produto mais utilizado entre homens e mulheres é o 1 (empréstimo em conta-corrente).

In [17]:
idade_filtrada = df.copy()
idade_filtrada["idade"] = idade_filtrada["idade"] // 10
idade_filtrada.groupby("idade")["produto"].agg(pd.Series.mode)

idade
1.0            1
2.0            7
3.0            1
4.0            1
5.0            7
6.0            1
7.0            7
8.0            7
9.0    [1, 4, 7]
Name: produto, dtype: object

Entre as idades 19, 30-49 e 60-69 o produto mais comum é o 1
Entre as idades 20-29, 50-59, 70-79 e 80-89 o produto mais comum é o 7
Entre as idades 90-91 os produtos mais comuns são os 1, 4 e 7

In [40]:
data_filtrada = df.copy()
data_filtrada["data"] = pd.to_datetime(data_filtrada["data"]).dt.day
data_filtrada.groupby(["data"])["produto"].agg(pd.Series.mode)

data
1          1
2          1
3          1
4          1
5          1
6     [1, 7]
7          1
8          7
9          1
10         1
11         1
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         1
20         7
21         1
22         1
23         1
24         7
25         1
26         1
27         1
28         1
29         1
30         1
31         7
Name: produto, dtype: object